<div class="row bg-light2 shadow-sm border-light rounded mt-3">
    <div class="container">
        <div class="row text-success text-center">
            <div class="col-12">
                <h3>Weather 5 days</h3>
            </div>
        </div>
        <div class="row">
            <div class="col" *ngFor="let weather of dataPerDayIn">
                <div *ngIf="(weather.date == actualDate);else otherContent" class="text-light bg-primary2 shadow p-1 mb-3 rounded" style="width: 12rem;">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12">
                                <h5 class="card-title">Today</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <img attr.src="{{'https://v5i.tutiempo.net/wi/01/90/' + weather.icon + '.png'}}" class="card-img-top" alt="...">
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <span class="material-icons">keyboard_arrow_up</span>
                                    {{weather.temperature_max}} °C
                                </div>
                                <div class="row">
                                    <span class="material-icons">keyboard_arrow_down</span>
                                    {{weather.temperature_min}} °C
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-template #otherContent>
                    <div class="text-dark bg-light shadow p-1 mb-3 rounded" style="width: 12rem;">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-12">
                                    <h5 class="card-title">{{weather.date}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <img attr.src="{{'https://v5i.tutiempo.net/wi/01/90/' + weather.icon + '.png'}}" class="card-img-top" alt="...">
                                </div>
                                <div class="col-6">
                                    <div class="container">
                                        <div class="row">
                                            <span class="material-icons">keyboard_arrow_up</span>
                                            {{weather.temperature_max}} °C
                                        </div>
                                        <div class="row">
                                            <span class="material-icons">keyboard_arrow_down</span>
                                            {{weather.temperature_min}} °C
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>